 <header   >
                <!-- navbar -->
<div class="container"  > 
  <div class="d-flex  flex-row align-items-center pb-3 mb-4 border-bottom" style="justify-content: space-between;">
    
<div style="display: flex;align-items: center;">
  <img id="threeBar"  src="https://thumb.ac-illust.com/c1/c101a9ee214a58a98f6712681e2ced35_t.jpeg" alt=""   >   
  <a  id="txt1">NodeJs</a>

</div>

    <nav class="d-inline-flex mt-2 mt-md-0   ">
      <a   class="me-3 txt py-2 link-body-emphasis text-decoration-none" href="/home">Home</a>
      <a class="me-3 txt py-2 link-body-emphasis text-decoration-none" href="/contact">Contact</a>
             <a class="me-3 txt py-2 link-body-emphasis text-decoration-none" href="/login">login</a>

      <a class="py-2 txt link-body-emphasis text-decoration-none" href="/register">Register</a>
    </nav>
  </div>
        </div>
    </header>